# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
.android/
.gradle/
local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id

# VS Code
.vscode/

# Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Environment files (VERY IMPORTANT)
.env
.env.local

# Firebase keys
google-services.json
GoogleService-Info.plist

# Temporary
*.tmp


#lib
lib/firebase_options.dart

firebase.json